body {
  /*position: relative;
  width: 1440px;
  height: 2749px;
  background: #ffffff;
  margin: 100px 100px 100px 100px;*/
  margin: 0;
  background: url("https://images.unsplash.com/photo-1600586363978-e520de02cdaa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjl8fHZpZXd8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
}

#one {
  background: url("https://images.unsplash.com/photo-1562504208-03d85cc8c23e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8bWFwfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");

  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
#two {
  background: url("https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29tcHV0ZXJ8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
#three {
  background: url("https://images.unsplash.com/photo-1470133294210-94114cf67cc6?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTF8fHN1YndheSUyMGRvb3JzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.card {
  border: 1px solid black;
  width: 300px;
}
.card div {
  width: 300px;
  height: 200px;
  background-size: contain;
}

header {
  left: 0px;
  top: 22px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 40px;

  text-align: center;
  letter-spacing: -0.015em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid green;

  color: #000000;
}

button {
  width: 113px;
  height: 80px;
  left: 14px;
  top: 157px;

  background: #e5e5e5;
}
.firstDiv {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 58px;
  /* or 161% */

  text-align: center;
  letter-spacing: -0.015em;

  color: #000000;
}
#contain {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#controls {
  border: 2px solid blue;
  display: flex;

  justify-content: space-around;
}

#Gerry {
  width: 40%;
  border-radius: 50%;
}

#pillars {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  background: rgb(255, 255, 255);
  padding: 10px 10px 10px 10px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#pillars div {
  width: 20%;
}

#welcomeface {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagetwo {
    display: flex;
    flex-direction: space-between;
    
}
#imagelight {
    width: 5cm;
    height: 5cm;
    border-radius: 50%;
}
@media (min-width: 800px) {
  body{
    background-size: 100%;
  }
  #controls button {
    width: 100px;
  }

  #topstyle {
    display: flex;
    border: 2px solid pink;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #controls,
  header {
    width: 70vw;
  }

  #Gerry {
    width: 300px;
  }

  #pillars {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}
